.imageWrapper {
  margin: var(--vertical-gap) 0;
  line-height: 0;
}

.imageWrapper:last-of-type {
  margin-bottom: 0;
}

.imageWrapper * {
  width: 300px;
  width: 600px;
  height: 100%;
  object-fit: contain;
}

/* ===========================================
              RESPONSIVE: TABLET
=========================================== */

@media (max-width: 1575px) {
  .imageWrapper * {
    width: 100%;
  }
}
