.imageWrapper {
  margin: 3rem 0;
}

.imageWrapper:last-of-type {
  margin-bottom: 0;
}

.imageWrapper * {
  width: 300px;
  width: 600px;
  height: 100%;
  object-fit: contain;
  border: 10px solid white;
}
