:root {
  --main-color: #880f66;
  --background-color: rgb(250, 246, 241);
  --main-padding: clamp(30px, 6vw, 50px);
  --vertical-gap: 40px;
  --padding-top: 132px;
}

body {
  color: black;
  font-weight: 300;
  overscroll-behavior-y: none;
  font-size: 0.88rem;
  line-height: 1.4;
  color: var(--main-color);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:focus,
a:visited {
  color: var(--main-color);
}

h1,
.h1 {
  font-weight: 500;
  font-size: 25px;
  margin: 0 0 var(--vertical-gap);
}

h2,
.h2 {
  font-weight: 650;
  text-transform: uppercase;
  margin: 0 0 12px;
}
