.body {
  font-family: "Courier New", Courier, monospace;
  /* display: flex; */
  margin: 0;
  background-color: var(--background-color);
}

.bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/bg.png");
  background-size: cover;
  /* object-fit: cover; */
  z-index: -1;
}

.main {
  /* flex: 1; */
  z-index: 1;
  display: flex;
}
