.body {
  display: flex;
  margin: 0;
  background-color: var(--background-color);
}

.main {
  flex: 1;
  z-index: 1;
}

/* ===========================================
              RESPONSIVE: MOBILE
=========================================== */

@media (max-width: 1200px) {
  .desktopNav {
    display: none;
  }
}
