.mobileNav {
  display: none;
}

/* ===========================================
              RESPONSIVE: MOBILE
=========================================== */

@media (max-width: 1200px) {
  .mobileNav {
    display: block;
  }
}
