.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartTitle {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 0.5rem;
}

.chartContent {
  margin: 0 0 2.5rem 0;
}
