.content {
  min-height: 100vh;
  padding: 70px;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 150px;
  grid-auto-flow: column;
  -webkit-font-smoothing: antialiased;
  font-weight: 350;
}

.content ul {
  padding-left: 1.5rem;
}

.heading {
  grid-column: 1 / 3;
  margin: -0.75rem 0 2.5rem 0;
}

.chart {
  grid-column: 2 / 3;
}

.chart.chartInsideLayout {
  grid-column: 1 / 2;
}

.chartTitle {
  text-transform: uppercase;
  padding-bottom: 0.75rem;
}

.chartContent {
  margin: 0 0 2.5rem 0;
}

.contentBody {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-bottom: 2.5rem;
}
