.content {
  min-height: 100vh;
  padding: var(--padding-top) var(--main-padding) var(--main-padding) 3vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: min(600px, 100%) 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: min(7vw, 150px);
  grid-auto-flow: column;
  -webkit-font-smoothing: antialiased;
  font-weight: 350;
}

.content ul {
  padding-left: 1.5rem;
}

.portableTextWrapper p {
  margin: 0;
}

.portableTextWrapper a {
  text-decoration: underline;
}

.heading {
  grid-column: 1 / 3;
}

/* CYCLES */

.desktopCycles {
  margin-top: 0;
  grid-column: 2 / 3;
  max-width: 250px;
}

.chart.chartInsideLayout {
  grid-column: 1 / 2;
}

.cyclesContent {
  margin: 0 0 2.5rem 0;
}

.cyclesContent:last-of-type {
  margin: 0;
}

.desktopCycles .cyclesYear,
.desktopCycles .cyclesContent {
  text-align: right;
}

.contentBody {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /* padding-bottom: 2.5rem; */
}

.mobileCycles {
  margin-top: var(--vertical-gap);
  display: none;
}

/* CHART */

.chartHeading {
  margin-top: var(--vertical-gap);
}

.chartContent p {
  display: inline;
}

.chartTitle {
  font-weight: 400;
}

/* NEXT */

.nextWork {
  display: block;
  text-decoration: unset;
  margin-top: calc(2.5 * var(--vertical-gap));
  position: relative;
  padding-left: 10px;
  border-left: 1px solid var(--main-color);
  transition: border-color 0.3s cubic-bezier(0.86, 0, 0.4, 1);
}

.nextTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* font-variation-settings: "slnt" -10; */
  /* transition: transform 0.3s cubic-bezier(0.86, 0, 0.4, 1); */
}

.icon {
  padding-top: 2px;
  visibility: hidden;
  opacity: 0;
  padding-left: 0;
  transition: visibility 0.3s cubic-bezier(0.86, 0, 0.4, 1), opacity 0.3s cubic-bezier(0.86, 0, 0.4, 1),
    padding-left 0.3s cubic-bezier(0.86, 0, 0.4, 1);
}

.nextWork:hover .icon {
  padding-left: 6px;
  opacity: 1;
  visibility: visible;
}

.nextWork:hover .nextTitle {
  /* transform: skewX(-10deg); */
}

/* ===========================================
              RESPONSIVE: TABLET
=========================================== */

@media (max-width: 1575px) {
  .desktopCycles {
    display: none;
  }

  .mobileCycles {
    display: block;
  }

  .content {
    display: block;
    width: min(600px, 100%);
    box-sizing: border-box;
    padding: var(--padding-top) var(--main-padding) var(--main-padding);
  }
}

/* ===========================================
              RESPONSIVE: MOBILE
=========================================== */

@media (max-width: 1200px) {
  .content {
    padding: var(--padding-top) var(--main-padding) var(--main-padding);
  }
}
