.wrapper {
  position: fixed;
  top: var(--main-padding);
  right: var(--main-padding);
  z-index: 2;
}

.currentLocale {
  margin-bottom: 16px;
  display: inline-block;
  cursor: pointer;
}

.wrapper:hover .otherLocales {
  visibility: visible;
}

.otherLocales {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.otherLocales a {
  cursor: pointer;
}

/* ===========================================
              RESPONSIVE: MOBILE
=========================================== */

@media (max-width: 1200px) {
  .wrapper {
    display: none;
  }
}
