.footerList {
  position: fixed;
  bottom: var(--main-padding);
  right: var(--main-padding);
  text-align: right;
}

.footerList ul {
  margin: 0;
}

.li:not(:last-of-type) {
  padding-bottom: 16px;
}

/* ===========================================
              RESPONSIVE: MOBILE
=========================================== */

@media (max-width: 1200px) {
  .footerList {
    display: none;
  }
}
