.logo {
  height: 49px;
  width: 49px;
  border-radius: 100%;
  background-color: #3500cd;
  display: flex;
  align-items: center;
  justify-self: center;
}

.icon {
  /* margin: auto; */
  width: 100%;
  padding-right: 5px;
}
