.aside {
  height: 100vh;
  /* position: fixed; */
  position: sticky;
  top: 0;
  /* top: var(--padding-top); */
  width: fit-content;
  padding: var(--padding-top) var(--main-padding) var(--main-padding);
  box-sizing: border-box;
}

.nav {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

/* Chrome, Safari and Opera */
.nav::-webkit-scrollbar {
  display: none;
}

.navList {
  margin: 0;
}

.li {
  padding-bottom: 16px;
}

.li span {
  font-size: 12px;
  padding-left: 18px;
  opacity: 0.75;
}

.li:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 550px) {
  .nav {
    overflow-y: visible;
    height: unset;
  }

  .navList {
    padding-bottom: calc(1.5 * var(--main-padding));
  }
}
