.aside {
  height: 100vh;
  /* position: fixed; */
  position: sticky;
  top: 0;
  /* top: var(--padding-top); */
  width: fit-content;
  padding: var(--padding-top) var(--main-padding) var(--main-padding);
  box-sizing: border-box;
}
